
@media (min-width:500px){
    .apply-icon > a {
        /* 91 102 */
        width: 4.55rem;
        height: 5.1rem;
        background: url("../images/apply_icon.png") no-repeat center/cover;
    }

    .education-icon > a {
        /* 90 95 */
        width: 4.5rem;
        height: 4.75rem;
        background: url("../images/education_icon.png") no-repeat center/cover;
    }

    /* .education-icon div > a {
        position: absolute;
    } */

    .bmc-icon > a {
        /* 73 93 */
        width: 3.65rem;
        height: 4.65rem;
        background: url("../images/bmc_icon.png") no-repeat center/cover;
    }

    .community-icon > a {
        /* 73 92 */
        width: 3.65rem;
        height: 4.6rem;
        background: url("../images/community_icon.png") no-repeat center/cover;
    }





    .consitech-img a {
        width: 8.5rem;
        height: 8.5rem;
        background: url("../images/consitech.png") no-repeat center/cover;

    }

    .inha-img a {
        width: 8.5rem;
        height: 8.5rem;
        background: url("../images/inha_univ.png") no-repeat center/cover;

    }

    .gcc-wrapper a {
        width: 8.5rem;
        height: 8.5rem;
        background: url("../images/gccei.png") no-repeat center/cover;

    }

    .n15-wrapper a {
        width: 8.5rem;
        height: 8.5rem;
        background: url("../images/n15.png") no-repeat center/cover;

    }
}




@media (max-width:1550px) {

    .menu-item {
        margin-left: 25px;
    }


}

@media (max-width:1450px) {

    .menu-item {
        margin-left: 20px;
    }

    .menu-item > a {

        font-size: 22px;
        padding: 5px 0 28px;
        margin-bottom: 7px;
    }

    a.on~ .menu-sub {
        font-size: 18px;
    }

    .menu-sub li a:hover:before {
        content: '▶ ';
        font-size: 10px;
        line-height: -20px;
        position: absolute;

        left: 5px;
    }
}

@media (max-width:1300px) {

    .menu-item {
        margin-left: 8px;
    }

    .menu-item > a {
        font-size: 18px;
        padding: 5px 0 32px;
        margin-bottom: 7px;

    }

    a.on~ .menu-sub {
        font-size: 15px;
    }


    .icon-wrapper a {
        font-size: 20px;
    }

    .icon-wrapper a:hover {
        font-size: 25px;
    }


    /* .board-con ul li a .subject-txt,
    .board-con ul li a .date-txt.date-txt {
    font-size: 18px;
    }

    .list__box.l2 {
       padding-left: 40px;
    } */

}

@media (max-width: 1100px) {

    /* html { font-size: 20px;}
    body { font-size: 1rem;} */

    .mobile {
        display: block;
    }

    header .header__wrap h1.logo {
        top: 50%;
        transform: translateY(-50%);
        left: 20px;

    }

    header .header__wrap h1.logo a {
        /* width: 146px;
        height: 27px; */

        width: 7.26rem;
        height: 1.325rem;
        /* 581
        106 */

        background: url("../images/logo@2x.png") no-repeat center/cover;
    }

    header .header__wrap .mobile-btn {
        position: absolute;
        background: url("../images/ic_drawer@3x.png") no-repeat center/cover;
        width: 24px;
        height: 24px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    header .header__wrap {
        height: 50px;
    }
    header .header__wrap nav.gnb {
        padding-left: 0;
        display: none;
    }
    header .header__wrap .spot {
        display: none;
    }

    section.main__page__visual .swiper-container .swiper-pagination {
        bottom: 10px;
    }

    section.main__page__visual .swiper-container .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        background-color: transparent;
        opacity: 1;
    }

    section.main__page__visual .swiper-container .swiper-pagination-bullet-active {
        background-color: #fff;
    }

    section.main__info__icon {
        margin: 30px 0 0px;
    }

    .icon-wrapper a {
        font-size: 14px;
    }
    

    .icon-wrapper a:hover {
        font-size: 16px;
    }

    section.main__info__koica {
        margin: 0 auto;
    }

    section.main__info__koica .koica-wrapper {
        text-align: center;
        flex-direction: column;
        height: auto;
        width: 100%;

    }

    .info-peru1 {
        display: inline-block;
        text-align: left;
        padding: 0 10px 10px;
    }

    .info-peru1 a {
        font-size: 16px;
    }

    .info-peru1 h2 {
        font-size: 18px;
    }

    .info-peru1 p {
        padding: 1px;
    }

    .info-peru1 {
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 100%;
    }

    .info-peru2 {
        display: inline-block;
        padding-bottom: 40px;
        height: 300px;

    }

    .info-peru2 img {
        max-width: 100%;
        height: auto;
        border-radius: 25px;
    }

    .main__info__con__inha {
        margin-top: 0;
    }

    .con-inha-wrapper {
        flex-direction: column;
    }

    .consitech-img {
        padding: 30px;
    }

    .consitech-wrapper {
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .con-inha-wrapper h2 {
        font-size: 18px;
    }

    .con-inha-wrapper p {
        font-size: 14px;

    }

    .inha-img {
        padding: 30px;
    }

    .inha-wrapper {
        margin: 0;
        width: 100%;
        margin-bottom: -15px;

    }

    .gcc-n15-wrapper {
        flex-direction: column;
    }

    .gcc-wrapper {
        margin: 0;
        width: 100%;
        margin-bottom: 20px;

    }

    .gcc {
        padding: 30px;
    }

    .n15-wrapper {
        margin: 0;
        width: 100%;
        margin-bottom: 20px;

    }

    .n15 {
        padding:30px;
    }

    .main__info__gcc__n15 h2 {
        font-size: 18px;
    }

    .main__info__gcc__n15 p {
        font-size: 14px;
    }

    input[type="radio"]:checked + label::after {
        top: 20px;
    }

    .board-con ul li a .date-txt.date-txt,
    .board-con ul li a .subject-txt {
        font-size: 15px;
    }

    .list__box.l2 {
        padding-left: 40px;
    }

    .list__box.l1 .board-tit,
    .list__box.l2 label {
        font-size: 18px;

    }

}

@media (max-width: 900px) {

    .main__info__con__inha {
        margin-top: -20px;
    }

    section.main__info__gcc__n15 {
        padding-bottom: 20px;
    }

}

@media (max-width: 700px) {

    .icon-wrapper a {
        font-size: 18px;
    }

    .apply-icon > a {
        
        width: 2.275rem;
        height: 2.55rem;
        background: url("../images/apply@2x.png") no-repeat center/cover;
    }

    .apply-icon div > a {
        display: block;
        word-break: keep-all;
        padding: 0;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        top:90px;
    }

    .education-icon > a {
        /* 180 190 */
        width: 2.25rem;
        height: 2.375rem;
        background: url("../images/education@2x.png") no-repeat center/cover;
    }

    .education-icon div > a {
        display: block;
        word-break: keep-all;
        padding: 0;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        top:90px;
    }

    .bmc-icon > a {

        /* 146 186 */
        width: 1.825rem;
        height: 2.325rem;
        background: url("../images/bmc@2x.png") no-repeat center/cover;
    }

    .bmc-icon div > a {
        display: block;
        word-break: keep-all;
        padding: 0;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        top:90px;
    }

    .community-icon > a {
        /* 146 184 */
        width: 1.825rem;
        height: 2.3rem;
        background: url("../images/community@2x.png") no-repeat center/cover;
    }

    .community-icon div > a {
        display: block;
        word-break: keep-all;
        padding: 0;
        position:absolute;
        left:50%;
        transform: translateX(-50%);
        top:90px;
    }

    .main__info__con__inha {
        margin-top: -60px;
    }

    .consitech-img a {
        width: 4.25rem;
        height: 4.25rem;
        background: url("../images/consitech@2x.png") no-repeat center/cover;

    }

    .inha-img a {
        width: 4.25rem;
        height: 4.25rem;
        background: url("../images/inha_univ@2x.png") no-repeat center/cover;

    }

    .gcc-wrapper a {
        width: 4.25rem;
        height: 4.25rem;
        background: url("../images/gccei@2x.png") no-repeat center/cover;

    }

    .n15-wrapper a {
        width: 4.25rem;
        height: 4.25rem;
        background: url("../images/n15@2x.png") no-repeat center/cover;

    }

}

@media (max-width: 500px) {
    .main__info__con__inha {
        margin-top: -140px;
    }
  
    .icon-wrapper a {
        font-size: 14px;
    }

    .icon-wrapper a:hover {
        font-size: 16px;
    }

    .icon-wrapper a:hover + div > a {
        font-size:16px;
    }

    .apply-icon {
        height: 85%;
    }

    .education-icon {
        height: 85%;
    }
  
    .bmc-icon {
        height: 85%;
    }

    .community-icon {
        height: 85%;
    }
  
}
