.inner {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.container {
    overflow: auto;
    position: relative;
    padding-bottom: 137px;
    min-height: 100%;
    min-width: 1280;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

header .header__wrap {
    position: relative;
    margin: 0 auto;
    height: 144px;
    max-width: 1600px;
    background-color: #0c64d2;
}

header .header__wrap h1.logo {
    position: absolute;
    left: 110px;
    top: 45px;
}

header .header__wrap h1.logo a {
    width: 59px;
    height: 55px;
}

nav.gnb a {
    color:#fff;
}

.main-menu {
    /* height: 200px; */
    text-align: center;
    padding-left: 400px;

}

 .menu-item {
    margin-left: 30px;
    margin-top: 75px; 
    display:inline-block;
    position: relative;
    white-space: nowrap;
    /* width:10%; */
}

.menu-item > a {
    
    display: inline-block;
    font-size:24px;
    /* width:100%; */
    padding: 5px 5px 25px;
    /* line-height: 20px; */
    margin-bottom: 7px;
}

.menu-item > a.on {
    color:#ffe800;
    
    /* justify-content: center;  */
    text-align: center;
    margin-bottom: 7px;
}

.menu-item > a:after {
    content: ""; position:absolute; left: 0; bottom: -3px; width: 0; 
    left:50%; height: 2px; background: #fff; transition: all 0.3s;

}

.menu-item > a.on::after {
    
    width:100%;
    left:0;
    /* clear: both; */
    z-index: 10;
}

.menu-sub {
    position: absolute;
    text-align: center;
    opacity: 0;
    pointer-events: none;
}

a.on~ .menu-sub {
    
    background: #0c64d2;
    /* white-space: nowrap; */
    opacity: 1;    
    font-size: 20px;
    pointer-events: auto;
    transition: all, .3s;
    position:absolute;
    width:100%;
    /* padding-top: 10px; */
    /* width:120px; */
}

.menu-sub li {
    line-height: 35px;
}
.menu-sub li a:hover {
    color: #ffe800;
}

.menu-sub li a:hover:before {
    content: '▶  ';
    font-size: 10px;
    line-height: -20px;
    position:absolute;

    left:10px;
}

nav.spot {
    position: absolute;
    right: 107px;
    top: 0;

}

nav.spot ul {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav.spot ul li {
    margin-left:2px;
    width: 165px;
    height: 45px;
    padding-top: 7px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #d9d9d9;
    box-sizing: border-box;
}

nav.spot ul li a {
    font-size: 18px;
}

nav.spot ul li:hover {
    background-color: #dbf0ff ;
}

nav.spot a{
    display: inline-block;
    width:100%;
    color:#000;
    font-size: 18px;

}

.wrapper {
    
}

section.main__page__visual {
    max-width: 1600px;
    margin: 0 auto;
}

section.main__page__visual .swiper-container .swiper-wrapper .swiper-slide {
    position: relative;
}

section.main__page__visual .swiper-container .swiper-wrapper .swiper-slide .img-box {
    height: 876px;
}

section.main__page__visual .swiper-container .swiper-wrapper .swiper-slide .img-box img {
    width: 100%;
}

section.main__page__visual .swiper-container .swiper-wrapper .swiper-slide .txt-box {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
}

section.main__page__visual .swiper-container .swiper-pagination {
    bottom: 87px;
}

section.main__page__visual .swiper-container .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    background-color: transparent;
    opacity: 1;
}

section.main__page__visual .swiper-container .swiper-pagination-bullet-active {
    background-color: #fff;
}

/* secton .main__info__icon .icon-wrapper{
    position: relative;
    text-align: center;
} */

section.main__info__icon {
    padding: 80px 0 60px;
    
    
}
section.main__info__icon .icon-wrapper {
    position:relative;
    height: 137px;
    width:1370px;
    /* width: 330px; */
    /* width:100%; */
    background: #a5d9ff;
    /* max-width: 1600px; */
    text-align: center;
}
.apply-icon {
    display: inline-block;
    width: 25%;
    height: 137px;
    /* height: 100%; */
    /* padding: 10px 0; */
    position:relative;
    box-sizing: border-box;
    /* border-radius: 25px; */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
    

}

.apply-icon a {
    /* display: inline-block; */
    /* position:absolute; */
    width: 100px;
    padding: 35px 0;
    font-size: 21px;
}

.apply-icon:hover {
    background:#d6eeff;
}

.apply-icon::after {
    content: '';
    height: 50%; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 25%;
    background-color: #73a5cb; 
}

.education-icon {
    display: inline-block;
    width: 25%;
    height: 137px;
    /* height: 100%; */
    /* padding: 10px 0; */
    position:relative;
}

.education-icon a {
    /* position:absolute; */
    width: 120px;
    padding: 35px 0;
    font-size: 21px;

}

.education-icon:after {
    content: '';
    height: 50%; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 25%;
    background-color: #73a5cb; 
}

.bmc-icon {
    display: inline-block;
    height: 137px;
    /* height: 100%; */
    width: 25%;
    /* padding: 10px 0; */
    position:relative;

}

.bmc-icon  a {
    /* position:absolute; */
    width: 100px;
    padding: 35px 0;
    font-size: 21px;

}

.bmc-icon :after {
    content: '';
    height: 50%; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 25%;
    background-color: #73a5cb; 
}

.community-icon {
    display: inline-block;
    width: 24%;
    height: 100%;
    /* padding: 10px 0; */
    position:relative;

}

.community-icon a {
    /* position:absolute; */
    width: 120px;
    padding: 35px 0;
    font-size: 21px;

}

.community-icon:after {
    content: '';
    /* height: 50%; 
    width: 1px;
    position: absolute;
    right: 0;
    top: 25%; */
    background-color: #73a5cb; 
} 



